@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Credits
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script src="~/Scripts/Courses.js" async="async"></script>
